---
import { ViewTransitions } from 'astro:transitions';

import Navigation from "components/Navigation.astro";

interface Props {
	name: string;
	title: string;
	description: string;
	banner?: Banner;
}

export interface Banner {
	url: string;
	width: number;
	height: number;
	alt: string;
	twitter_card: string;
}

const {
	name,
	title,
	description,
	banner,
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<!-- You know the drill... -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- SEO Stuff -->
		<link rel="canonical" href={Astro.url} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />

		<!-- Favicon & Page Theme -->
		<link rel="icon" type="image/svg+xml" href="/images/logo.svg" />
		<meta name="color-scheme" content="dark" />
		<meta name="theme-color" content="#59c2ff" />

		<!-- Preload Fonts -->
		<!-- <link
			rel="preload"
			href="/fonts/Manrope-VariableFont_wght.woff2"
			as="font"
			crossorigin="anonymous"
		/>
		<link
			rel="preload"
			href="/fonts/iosevka-fixed_latin-ext.woff2"
			as="font"
			crossorigin="anonymous"
		/>
		<link
			rel="preload"
			href="/fonts/iosevka-fixed-extralight_latin-ext.woff2"
			as="font"
			crossorigin="anonymous"
		/> -->

		<!-- OpenGraph Page Metadata -->
		<meta property="og:site_name" content={name} />
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:description" content={description} />

		{
			banner && (
				<>
					<meta
						property="og:image"
						content={new URL(banner.url, Astro.url)}
					/>
					<meta property="og:image:type" content="image/png" />
					<meta property="og:image:alt" content={banner.alt} />
					<meta
						property="og:image:width"
						content={banner.width.toString()}
					/>
					<meta
						property="og:image:height"
						content={banner.height.toString()}
					/>
					<meta
						property="twitter:card"
						content={banner.twitter_card}
					/>
				</>
			)
		}

		<ViewTransitions />

		<title>{title}</title>
	</head>

	<body class="noise">
		<Navigation />
		<slot />
	</body>
</html>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&display=swap');

	@font-face {
		font-family: "ClashDisplay-Variable";
		src: url("/ClashDisplay-Variable.woff2") format("woff2");
		font-weight: 200 700;
		font-display: swap;
		font-style: normal;
	}

	:root {
		--font-display: "ClashDisplay-Variable", system-ui, sans-serif;
		--font-text: "Brygada 1918", monospace;
		--border: #3f4043; /* #3f4043 */
	}
	
	html {
		color-scheme: dark;
		scrollbar-width: thin;
		scrollbar-color: hsla(var(--foreground-secondary), 0.5) hsl(var(--background-secondary));
		font-family: var(--font-text);
		font-size: 62.5%;
		height: 100%;
        background: linear-gradient(90deg, #282b31, #1c1e23 20%);
		color: hsl(var(--foreground-primary));
		color: #8a8986;
		line-height: 1.5;
	}

	::selection {
		background-color: hsl(202, 100%, 67%, 0.5);
		color: #0d1016;
	}

	.noise::before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url("/noise.png");
	}
	
	body {
		position: relative;
		min-height: 100vh;
		margin: 0;
		display: flex;
		flex-direction: column;
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	:focus-visible {
		outline: 2px solid hsl(var(--accent-primary));
		outline-offset: 2px;
	}
</style>